#bg {
    background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 2s ease-out;
    z-index: -1; /* 배경이 다른 요소 아래로 가게 설정 */
    
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* ✅ 위쪽부터 정렬 */
    align-items: center;
    background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
    height: 100vh;
    position: relative;
    transition: all 2s ease-out;
    z-index: 1;
}


    h1, p {
        text-align: center;
        color: #000000;
    }
    .progress-bar-container {
        position: absolute;
        bottom: 50px;
        width: 80%;
        max-width: 500px;
        background-color: #ccc;
        border-radius: 10px;
        overflow: hidden;
    }
    .progress-bar {
        height: 20px;
        width: 0%;
        background-color: #4caf50;
        transition: width 0.3s;
    }
    header {
        position: static;
        margin-bottom: 0;
        text-align: center;
        z-index: 2;
      }
      
      .text-box {
        margin-top: 0;
        padding: 10px 20px 25px 20px; /* 위쪽만 줄임 */
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        z-index: 1;
        position: relative;
      }


    .header-text {
        font-size: 2.5em; /* 글씨 크기 크게 조정 */
        font-weight: bold;
        color: rgb(255, 255, 255); /* 글씨 색상을 검은색으로 설정 */
        text-shadow: none; /* 텍스트 그림자를 제거 */
        margin: 0;
        padding: 0; /* ✅ 요기 핵심 */
    }
    #result-button-container button {
        padding: 10px 20px;
        font-size: 1.2em;
        font-weight: bold;
        color: rgb(0, 0, 0);
        background-color: #eeff54;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
    }
    #result-button-container {
        display: none; /* 초기에는 숨김 */
        text-align: center;
        margin-top: 20px; /* 버튼을 아래로 내리기 위한 여백 */
    }
    


    #result-button-container button:hover {
        background-color: #45a049;
    }

