{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'login.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<body>
    
  <!-- 로고 -->
  <div id="container">
    <a href="{% url 'home' %}">
    <div class="text">
      <div>K
        <div>K</div>
        <div>K</div>
        <div>K</div>
        <div>K</div>
        <div>K</div>
        <div>K</div>
        <div>K</div>
        <div>K</div>
        <div>K</div>
        <div>K</div>
      </div>
      <div>i
        <div>i</div>
        <div>i</div>
        <div>i</div>
        <div>i</div>
        <div>i</div>
        <div>i</div>
        <div>i</div>
        <div>i</div>
        <div>i</div>
        <div>i</div>
      </div>
      <div>ds
        <div>ds</div>
        <div>ds</div>
        <div>ds</div>
        <div>ds</div>
        <div>ds</div>
        <div>ds</div>
        <div>ds</div>
        <div>ds</div>
        <div>ds</div>
        <div>ds</div>
      </div>
    </div>
    </div>
  </a>
</div>
<form method="post">
  {% csrf_token %}
  <div class="segment">
    <h1>Sign In</h1>
  </div>

  <div id="login-container">
    <label>
      <input type="text" name="username" placeholder="아이디" required />
    </label>
    <label>
      <input type="password" name="password" placeholder="비밀번호" required />
    </label>
    <button class="red" type="submit">
      <i class="icon ion-md-lock"></i> Log in
    </button>
  </div>

  {% if error %}
    <p style="color: red; text-align: center;">{{ error }}</p>
  {% endif %}
</form>
          
<!-- 아래는 form 바깥! -->
<div id="button-container">
  <!-- 뒤로가기 버튼 -->
  <div id="button-back">
    <a href="{% url 'home' %}">
      <button class="unit" type="button">
        <i class="icon ion-md-arrow-back"></i>
      </button>
    </a>
    <span id="tooltip-back">뒤로가기</span>
  </div>

  <!-- 회원가입 버튼 -->
  <div id="button-signup">
    <a href="{% url 'signup' %}" class="unit">
      <button class="unit" type="button">
      <i class="icon ion-md-person-add"></i>
      </button>
    </a>
    <span id="tooltip-signup">회원가입</span>
  </div>
</div>
      

<script src="{% static 'login.js' %}"></script>
        


</body>
</html>